body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(211, 39%, 23%);
  font-size: 18px;
  background-color: hsl(210, 36%, 96%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c8deee' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  color: hsl(209, 61%, 16%);
}
h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

strong {
  font-size: 115%;
  color: hsl(208, 88%, 62%);
}

.container > h1 {
  margin-bottom: 48px;
}

.gray {
  color: hsl(209, 23%, 60%);
}
.dark-blue {
  color: hsl(200, 96%, 32%);
}
.mt-40 {
  margin-top: 40px;
}
.spaced-lg {
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}
.spaced-top-lg {
  padding-top: 50px!important;
}
.rotate-10 {
  transform: rotate(10deg);
}

/* #49a4f3 */

.content {
  max-width: 1024px;
  margin: auto;
  padding-left: 15px;
}

.header {
  height: 100px;
  top: 0;
  background-color: hsl(210, 36%, 96%);
  z-index: 1000;
}
.header img {
  padding: 15px 0px;
}

.header .header-small {
  display: inline-block;
  vertical-align: 140%;
}

.m-top-lg {
  margin-top: 75px;
}

.columns, .carousel {
  margin-bottom: 60px;
  padding-bottom: 75px!important;
}
.columns.inset {
  padding-bottom: 0px!important;
}

.columns.no-spacing {
  margin-bottom: 10px;
  padding-bottom: 0px!important;
}

.btn.btn-primary.btn-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(208, 88%, 62%);
  border-color: hsl(208, 88%, 62%);
  border-radius: 50px;
  margin: 25px 0;
  height: 50px;
  max-width: 375px;
}
.btn-cta span {
  color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 85%;
}

.btn.btn-link.btn-free-trial {
  display: block;
  max-width: 375px;
  color: hsl(211, 39%, 23%);
  margin-bottom: 15px;
}
.btn.btn-link.btn-free-trial:hover {
  text-decoration: underline;
}
.btn-free-trial span {
  font-variant-caps: all-small-caps;
  color: hsl(211, 39%, 23%);
  font-size: 18px;
}

h6.rating {
  text-align: center;
  font-size: 14px;
  max-width: 375px;
}
h6.rating a {
  color: hsl(209, 61%, 16%);
}

.carousel .carousel-nav .nav-item {
  color: hsl(208, 88%, 62%);
}
.carousel .carousel-nav .nav-item::before {
  height: 10px;
}
.carousel .carousel-container .item-next, .carousel .carousel-container .item-prev {
  background: hsla(208, 88%, 62%, 60%);
  border-color: hsla(202, 100%, 95%, 60%);
  color: hsla(202, 100%, 95%, 60%);
}

.price-card {
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  border-radius: 10px;
  margin-bottom: 10px;
}

.price-card .card-header {
  background-color: hsl(208, 88%, 62%);
  padding-bottom: 10px;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.h3.about-me {
  line-height: 1.5em;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li {
  margin: 0;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: hsl(208, 88%, 62%); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 110%;
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.small {
  font-size: 50%;
}

.watermark {
  position: absolute;
  opacity: 0.1;
}

.horus {
  transform: rotate(-25deg);
  top: 590px;
  height: 70px;
  left: 150px;
}

.sdf {
  top: 575px;
  left: 860px;
  height: 100px;
}

.freemason {
  top: 950px;
  left: 200px;
  height: 150px;
}

.illuminati {
  top: 750px;
  right: 100px;
  height: 80px;
}

.tiki {
  top: 2200px;
  height: 200px;
  right: 100px;
}

.illuminati-owl {
  top: 3200px;
  height: 500px;
  left: -75px;
}

.totem {
  top: 4100px;
  right: 100px;
  height: 100px;
}

.emc {
  transform: rotate(-45deg);
  top: 5100px;
  left: 25px;
  height: 100px;
}

.attribution {
  margin-bottom: 10px;
}

.attribution a {
  display: inline-block;
  width: 120px;
  background-color: hsl(16, 94%, 61%);
  border-radius: 4px;
  padding: 10px 0;
  /* height: 55px; */
  margin-left: 5px;
}

.attribution a img {
  vertical-align: bottom;
}

.word-cloud p {
  margin: -7px;
  font-size: 150%;
}

del {
  color: hsl(360, 83%, 62%);
}
